{% extends "main.html" %}
{% block content %}
{% include "header.html" %}

<main class="container">

  <nav class="breadcrumb">
    <a class="breadcrumb-item" href="{{url_for('show_all_items')}}">All Category</a>
    <a class="breadcrumb-item active" href="{{url_for('create_new_item')}}">New Item</a>
  </nav>

  <h1 class="my-4">Create a New Item</h1>

  <section class="row mb-2">
    <div class="col-12 col-md-8">
      <form action="{{ url_for('create_new_item')}}" method="post" enctype="multipart/form-data">

        <div class="form-group row">
          <label for="name" class="col-sm-3 col-form-label">Title</label>
          <div class="col-sm-9">
            <input type="text" class="form-control" id="name" name="name" placeholder="Title of the game">
          </div>
        </div>

        <div class="form-group row">
          <label for="description" class="col-sm-3 col-form-label">Description</label>
          <div class="col-sm-9">
            <textarea class="form-control" id="description" name="description" rows="5" placeholder="Short description of the game"></textarea>
          </div>
        </div>

        <div class="form-group row">
          <label for="price" class="col-sm-3 col-form-label">Price</label>
          <div class="col-sm-9">
            <input type="text" class="form-control" id="price" name="price" placeholder="$ 1.0">
          </div>
        </div>

        <div class="form-group row">
          <label for="feature_image" class="col-sm-3 col-form-label">Featured Image</label>
          <div class="col-sm-9">
            <input type="file" class="form-control-file" id="feature_image" name="feature_image">
          </div>
        </div>

        <div class="form-group row">
          <label for="youtube_url" class="col-sm-3 col-form-label">Trailer Youtube URL</label>
          <div class="col-sm-9">
            <input type="text" class="form-control" id="youtube_url" name="youtube_url" placeholder="https://www.youtube.com/watch?v=YOUR_YOUTUBE_VIDEO">
          </div>
        </div>

        <div class="form-group row">
          <label for="category" class="col-sm-3 col-form-label">Category</label>
          <div class="col-sm-9">
            <select class="form-control" id="category" name="category">
              {% for category in categories %}
              <option value="{{ category.id }}"> {{ category.name }} </option>
              {% endfor %}
            </select>
          </div>
        </div>

        {% with messages = get_flashed_messages() %}
          {% if messages %}
            {% for message in messages %}
            <div class="alert alert-danger alert-dismissible fade show" role="alert">
              <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
              <strong>{{ message }}</strong>
            </div>
            {% endfor %}
          {% endif %}
        {% endwith %}
        
        <div class="text-right">
          <input class="btn btn-outline-success" type="submit" value="Create">
          <button class="btn btn-outline-secondary" onclick="history.back()">Cancel</button>
        </div>
      </form>

    </div>

    <div class="col-12 col-md-4">

    </div>
  </section>

  {% include "footer.html" %}

</main>
{% endblock %}
